* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

body {
    background-image:  url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project_%28454045%29.jpg/250px-Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project_%28454045%29.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}