* {
    padding: 0;
    margin: 0;
}

div.bloco {
    background-image: url(../images/wallpaper003.jpg);
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 800px;
}

div#q1 {
    background-position: left top ;

}

div#q2 {
    background-position: left center;
}

div#q3 {
    background-position: right bottom;
}

div#q4 {
    background-position:  center center;
}

