@charset "utf-8";
    body {
        background-color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
    }
    h1 {
        color: gray;
    }
    h2 {
        color: darkgray;
    }
    h3 {
        color: lightslategrey;
    }
    p {
        color: grey;
    }
    hr {
        
    }
